body {
    /* background-color: #000000; */
    /* color: #FF388A; */
    /* text-align: center; */
    /* padding-top: 5%; */
    word-break: break-word;
}

.logo {
    width: 50px;
    height: 50px;
    padding: 0%;
    margin-left: 3%;
    margin-top: -12%;
}

.block {
    border: 1px solid #ff388a;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.row {
    margin: 0%
}

.wallet-balance {
    float: right;
}

.transaction {
    margin-bottom: 5%
}

.transaction-data {
    margin-top: 2%;
}

.centered {
    float: inherit;
}

#toggle-button {
    margin-top: 2%;
    margin-bottom: 2%;
}

.padding {
    padding: 2%;
}

@media (min-width: 992px) {

    #toggle-button {
        width: 50%;
    }
}